/*
* @Author: yj
* @Date:   2018-04-22 11:28:40
* @Last Modified by:   yj
* @Last Modified time: 2018-04-27 10:30:27
*/
table{
        width:100%;
        position:relative;
        margin:30px auto;
        border-collapse: collapse;
        border:1px solid gray;
    }

th{
    background-color: #3b5;
    height:3em;
}
.first{
    width:10%;
}

.second{
    width:20%;
}

.third{
    width:20%;
}

.fourth{
    width:20%;
}

.fifth{
    width:20%;
}

.sixth{
    width:10%;
}

td{
    height:3em;
    text-align: center;
    border:1px solid #ccc;
}

.num{
    display:inline-block;
    width:3em;
}

input{
    height:2em;
}

.talast{
    text-align: right;
}

body input{
    background-color: #3b5;
}

body button{
    background-color: #3b5;
}