/*
* @Author: yj
* @Date:   2018-02-11 21:57:57
* @Last Modified by:   yj
* @Last Modified time: 2018-05-10 10:40:22
*/

body{
	color: #534;/*color是字体的颜色*/
	background-color: #eee;/*background-color是背景颜色*/
	/*background-image: url('../images/3.jpg');*/
	background-repeat: no-repeat;
	background-position: 0px 50px;
}

header nav li{
	background-color: #222;/*导航条里真正显示颜色的是li*/
}

a:link{
	color: #345;
	background-color: #eb6;
}


a:hover{
	color: #667;
	background-color: #fb5;
}


nav a:link,nav a:visited{
	color: #eef;
	background-color: transparent;/*透明*/
	font-size: 20px;
}

header nav a:hover{
	color: #667;
	background-color: #3b5;/*导航栏悬停时变色*/
}

article nav li{
	background-color: #FFFFFF;/*导航条里真正显示颜色的是li*/
	box-shadow: darkgrey 0px 1px 0px 0px;
}

article nav a:link,article nav a:visited{
	color: #000000;/*覆盖上面的nav a 的颜色设置*/
}

article nav a:hover{
	color: #000000;
	background-color: #3b5;/*导航栏悬停时变色*/
}

/*
#recommendtagdis{
	border-style: solid;
	border-color: #000000;
	border-width: 3px;

}*/

.recommendtrenddis{
	border-style: solid;
	border-color: #000000;
	border-width: 3px;
}


.concern{
	border-color: #5bc0de;

}
