/*
* @Author: yj
* @Date:   2018-02-11 21:57:14
* @Last Modified by:   yj
* @Last Modified time: 2018-05-28 13:44:43
*/

/**
通用的布局样式
*/


*{/*使用通配符将所有元素的内外边距设置为0，都由自己设置*/
	margin: 0px;
	padding: 0px;
}

body{
	padding-left: 30px;
	padding-right: 30px;
	height: 3000px;/*设置页面的高度即设置body的高度*/
}

.fixeddiv{
	width: 100%;
	position: fixed;/*要设置导航栏固定在顶部，必须要先设置该div的宽度为100%,否则会变短.
	                  fixed介于body元素之上，不属于文档流，所以会挡住其他元素*/
	z-index: 100;
}

header, nav{
	padding: 0px;
	margin-top: -10px;
	margin-left: -30px;
	margin-right: -30px;
}

nav ul{
	/*overflow: visible;*//*这句会出现导航栏无法定格的情况*/
	list-style-type: none;
	padding-left: 0px;/*解决li不靠边的问题*/
}

/*实现列表横向排列并且平均分宽度，且根据窗口大小而平均分*/
nav li{
	float: left;
	/*display: inline;*/
	width: 20%;
	height: 80px;
	text-align: center;/*水平居中*/
	/*vertical-align: middle;*//*用这个实现垂直居中，不对*/
	position: relative;
	display: table;
}

nav a:link,nav a:visited{
	display: block;/*只能放在这个伪类里，单独放a里不生效*/
	width: 100%;/*将a的display设置为block之后可以设置宽度和高度了*/
	height: 100%;
	display: table-cell;/*这3句实现居中，用表格的方式实现，只有这一种方法正确了*/
	text-align: center;
	vertical-align: middle;
}

section, article{
	display: block;
}

article {
	padding-top: 80px;
}

.recommendtrenddis{/*div的宽度都固定为父元素的25%，高度随图片的高度变。
	注意必须先设置父元素的宽度，才能在子元素里使用百分比*/
	display: inline;
	float: left;
	width: 25%;
	height: auto;
	padding-left: 35px;
	padding-bottom: 40px;
}

.disbroad{
	width: 100%;
	height: 900px;
	margin-top: 50px;
	margin-right: 5px;
	/*border:5px solid #000;*/
}

.disbroad img{/*div的宽度都固定为父元素的25%，高度随图片的高度变。图片按比例放入div中*/
	max-width: 100%;
	max-height: 100%;
}

nav a.here:link,nav a.here:visited,nav a.here:hover,nav a.here:active{
	color: #1ef;
	background-color:#299;
}

/*#artic{
	float: left;
    position: relative;
    left: 50%;
}*/

#main{
    /*定位*/
    position: relative;
    /*border:5px solid #000;*/
    margin-top: 40px;
    margin-right: auto;/*这两句实现居中*/
    margin-left: auto;
    /*float: left;
    position: relative;
    left:-50%;*/
}
.box{
    /*内边距*/    
	float: left;
    margin-left: 20px;
	background-color: #FFFFFF;/*导航条里真正显示颜色的是li*/    
	box-shadow: 0px 2px 1px darkgrey;/*加阴影*/
	overflow:auto;
}
.pic{
    /*边框*/
    /*border:1px solid #000;*/
	height: auto;
}

.pic:hover{
	cursor: pointer;
}


.pic img{
    width: 290px;/*每个卡片的大小*/
	max-width: 100%;
	max-height: 100%;
}
.user{
	height: 50px;
	margin: 5px 0px 0px 5px;
}
.articletext{
	height: 80px;
	width: 270px;
}

.concern{
	float: right;
	margin: 5px 5px 0px 0px;
}

.textdis{
	margin: 15px 5px 10px 10px;
	height: 30px;
	width: 20em;/*不允许出现半汉字截断*/
	overflow: hidden;/*以下3句限制文字的展示*/
	text-overflow: ellipsis;/*溢出的显示省略号*/
	white-space: nowrap;/*强制不换行*/
	/*width: 230px;*/
}

.usericon{
	width: 30px;
	height: 30px;
}



/*index.html的样式*/

#firstpagedis{
	/*border:5px solid #000;*/
	/*	height: 20px;*/
    padding-bottom: 80px;
}

.firstpageuserarea{
	display: inline;/*将块级元素设置为内联样式后，还得设置左浮动，并且注意宽度要能够放下2个元素,不能为100%，才能看到效果*/
	float: left;
}

.firstpageuser{
	width: 70px;
	height: 70px;
	margin-right: 30px;
}

.firstpagetextarea{
	width: 80%;
	background-color: #FFFFFF;
	height: auto;
	display: inline;
	float: left;
	box-shadow: 0px 2px 1px darkgrey;/*加阴影*/
	padding: 30px;
}

.textpic{
	width: auto;
	cursor:pointer;/*鼠标悬浮时变成手的形状*/
	width: 40%;
	height: auto;
	display: inline;
	float: left;
	margin-right: 20px;

}

/*点击图片后图片放大，并改变布局方式，文章内容变为放图片下方*/
.textpicchange{
	width: auto;
	cursor:pointer;/*鼠标悬浮时变成手的形状*/
	width: 100%;
	height: auto;
	/*display: inline;
	float: left;*/
	margin-bottom: 20px;

}

.textarea{
	display: inline;
	float: left;
	width: 50%;
}

.firstpagedisarea{
	float: left;
	margin-top: 30px;/*这2句无效，每个div之间没有间隔产生.答：因为b没有浮动，
						它按照父盒子的左边离开20px却还在a区块的宽度以内，所以它会紧靠着a区块，*/
	height:auto;/*之前想看边框效果所以设置了一个固定高度，但老是容易和上一个div连在一起，原因是应该设高度为auto*/
    /*border:5px solid #000;*/

}


/*//recommendtrend里点击图片出现模态框*/
/*模态框*/
.modal {  
    display: none; /* 默认隐藏 */  
}

/*显示模态框*/
.modalShow {  
    display: block; /* 默认隐藏 */  
    position: fixed; /* 根据浏览器定位 */  
    z-index: 200; /* 放在顶部，底部的依次比1小 */  
    left: 0;  /*设置了position为fixed,所以要设置具体的坐标，下面那句同*/
    top: 0;  
    width: 100%; /* 全宽 */  
    height: 100%; /* 全高 */  
    overflow: auto; /* 允许滚动 */  
    background-color: rgba(0,0,0,0.7); /* 背景色设置为黑色，透明度为0.4（0<=取值<=1） */  
}  

/*模态框内容*/  
.modal-content {  
    display: flex; /*采用flexbox布局*/  
    flex-direction: column; /*垂直排列*/  
    position: relative;  /*生成相对定位的元素，相对于其正常位置进行定位。若配合坐标使用，如"left:20" 会向元素的 LEFT 位置添加 20 像素。
						    其实一般用的多的是用Margin，这是相对于前面的容器定位的*/
    background-color: #fefefe;  
    margin: 3% auto; /*距顶部15% 水平居中；第一个表示上下的距离，第二个表示左右*/  
    padding: 20px;  /*与margin的用法一致*/
    border: 1px solid #888;  
    width: 70%;  
    animation: topDown 0.5s; /*自定义动画，从模态框内容上到下出现，这四句都是为了浏览器兼容，但ie不行///////////////////*/  
	-moz-animation:topDown 0.5s; /* Firefox */
	-webkit-animation:topDown 0.5s; /* Safari and Chrome */
	-o-animation:topDown 0.5s; /* Opera */
}  
@keyframes topDown {  
    from {top: -300px; opacity: 0}  
    to {top: 0; opacity: 1}  
}

@-moz-keyframes topDown{/* Firefox */
    from {top: -300px; opacity: 0}  
    to {top: 0; opacity: 1}  
}

@-webkit-keyframes topDown{ /* Safari and Chrome */
    from {top: -300px; opacity: 0}  
    to {top: 0; opacity: 1}  
}

@-o-keyframes topDown{ /* Opera */
    from {top: -300px; opacity: 0}  
    to {top: 0; opacity: 1}  
}


/*模态框头部，这个设置生效的话，x只能在正中间，所以先注释掉*/  
/*.modal-header { */ 
    /*display: flex;*/ /*采用flexbox布局*/  
    /*flex-direction: row;*/ /*水平布局*/  
    /*align-items: center;*/ /*内容垂直居中*/  
    /*justify-content: space-between; */  /*元素周围留空白，是display: flex;使用后的配套设置*/
/*}*/ 


/*关闭X 样式*/  
.close {  
    color: #aaa;  
    float: right;  
    font-size: 28px;  
    font-weight: bold;  
}  
.close:hover {/*关闭X 鼠标放上去的时候变亮*/    
    color: black;  
    text-decoration: none;  
    cursor: pointer;  /*光标改变样式为手指形状*/
}  

/*模态框出现后限制body滚动*/
.unscroll{
	overflow: hidden;
}


.modal-pic{
    /*边框*/
    /*border:1px solid #000;*/
	height: auto;
	margin: 0px -21px 0px -21px;

}

.modal-pic img{
    width: 100%;
	max-width: 100%;
	max-height: 100%;
}


.modal-usericon{
	width: 50px;
	height: 50px;
}

.modal-concern{
	margin: 5px 65px 5px 65px;
}

.modal-username{
	font-size: 150%;
}

.modal-user{
	margin-bottom: 20px;
}

.modal-articletext{
	margin: 20px 0px 70px 0px;
	height: auto;
	width: 100%;
}